\.idea/

\workingdir/

__pycache__/

Encoder/build/temp\.win-amd64-3\.7/Release/

*.pyd

*.log

Encoder/__FingerprintEncoder/build/temp.win-amd64-3.7/Release/

Encoder/Mol2Vec/build/

Encoder/__FingerprintEncoder/build/

*.so

*.c

*.lib

*.obj

*.exp

*.data

*.data

*.MPIdata0

*.o

ZARR_TMP/
*.0

Output/DATA/

Output/

workingdir/

.vs/EasyChemML/v16/
